<!-- templates/containers.html -->
<!-- This file contains the HTML content for the containers that will be loaded into the main webpage. -->
<!-- The content of this file will be loaded into the main webpage's containerSection div. -->

<div class="container-grid">

    <!--Introduction Message-->
    <div class='container container-wide'> <!-- System instructions -->
        <h3>SERVER SITE TEST</h3>
        <p>This is a placeholder for server-side content.</p><br>
        <p>Requires a button to start the SuperLink container and view status of connected nodes</p><br>
        <button id='startSuperLink'>Start Server Link</button>
        <button id='startSuperExec'>Start Super Exec</button>
    </div>

    <!-- Terminal printout -->
    <div class="container container-wide"> <!-- Terminal output -->
        <h3>Terminal Output <button id='clearTerminal'>Clear</button></h3>
        <div class="terminalOutput" id="terminalOutput">Terminal output will appear here<br></div>
    </div>

    <!-- Client Monitor -->
    <div class="container container-wide">
        <h3>Client Monitor</h3>
        <div id="clientMonitor">
            <p>Client Monitor will appear here</p>
        </div>
    </div>
</div>